.app {
  margin-top: 50px;
  h1 {text-align: center;}
}
.smurfsList {
  display: flex;
  flex-flow: row wrap;


  .smurfsCard {
    flex-basis: 300px ;
    margin: 10px;
    flex-grow: 1;
    max-width: 50%;
  }
  @media (max-width:'768px'){
    .smurfsCard {
      max-width:100%;
    }
  }
}

.form-div {
  margin: 50px 0;

  .smurfForm input {
    margin-bottom: 10px;
  }
}
